* {
  margin: 0;
  padding: 0;
 font-family: 'Teko', sans-serif;
}
.section{
  width: 280px;
  height: 460px;
  background-color: rgb(234, 236, 238);
	position: relative;
  margin: auto;
    margin-top: 100px;
    border-radius: 15px;
}
.caja1 {
  width: 280px;
  height: 460px;
	position: absolute;
    margin: auto;
    border-radius: 15px;
   
}

.imagen {
  width: 280px;
  height: 460px;
    background-image: url(../img/pc%202.png);
	position: absolute;
    margin: auto; 
    border-radius: 15px;
}
    
.caja3 {
  width: 280px;
    height: 460px;
    background-color:rgba( 0, 0, 0,0.5); 
    position: absolute;
    border-radius: 15px;
}  
.texto{
    color: #FFFFFF;
    position: absolute;
    font-size: 35px;
    padding-top: 5em;
    padding-left: 1.5em;
    margin-top: 15px;
    margin-left: 15px; 
    width: 5.5em;
    height: 7em;
    border-radius: 15px;
    border-style: solid;
      
}
